server:
  port: 8081

spring:
  cloud:
    gateway:
      discovery.locator.enabled: true
      routes:
        - id: main-service-service-route
          uri: lb://main-service
          predicates:
            - Path=/**
          filters:
            - PrefixPath=/
