server:
  port: 8080

spring:
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
          routes:
            - id: main-service-route
              uri: lb://main-service
              predicates:
                - Path=/admin/**,/categories/**,/compilations/**,/events/**,/comments/**,/users/**

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway
