spring:
  application:
    name: gateway-server
  cloud:
    gateway:
      routes:
        - id: main-service
          uri: lb://main-service
          predicates:
            - Path=/**

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway,metrics,configprops
  endpoint:
    gateway:
      enabled: true