spring:
#  application:
#    name: stats-server
#  config:
#    import: optional:configserver:
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: always
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/
    username: postgres
    password: password

server:
  port: 9090

logging:
  level:
    ru.practicum.stats: INFO


---
# Profile: test
spring:
  config:
    activate:
      on-profile: test
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:stats-db
    username: dbuser
    password: 12345